<html>
<head>
	<title>cart html</title>
</head>
<body>

	<h6>这里是购物车页面部分</h6>

	<input class="userNam" type="text" ng-model="sc.username" />
	<input class="psw" type="password" ng-model="sc.password" />

	<button class="gobuy" type="button" ng-click="sc.buy()">购买</button>	
	<button class="reset" type="reset">重置</button>

	<p style="margin-left:10px">账号：<span class="txtSpan" ng-bind="sc.username"></span></p>
	<p style="margin-left:10px">密码：<span class="txtSpan" ng-bind="sc.password"></span></p>

</body>
</html>
